<div id='landing' class="centered"> 
	<span id='welcome_title'> <h2> Welcome to Karaoke Now! </h2> </span>

	<span>  
		<%= link_to "See All Songs", songs_path, class: ["btn", "btn-danger"] %>
	</span>

	<span>  
		<%= link_to "Gimme' three songs", three_songs_songs_path, class: ["btn", "btn-info"] %>
	</span>

	<p>	LANDING PAGE </p>
</div>