<div id='landing'> 
	<span id='welcome_title'> <h2> Welcome to Karaoke Now! </h2> </span>

	<p class='btn-danger'> <%= link_to "See All Songs", songs_path %> </p>
</div>

<h3>header 3</h3>
<p>p tag</p>
<h4>header 4</h4>
<p>p tag</p>
<h5>header 5</h5>
<p>p tag</p>
<h6>header 6</h6>
<p>p tag</p>