<div id='landing' class="centered"> 
	<span id='welcome_title'> <h2> Welcome to Karaoke Now! </h2> </span>

	<p> 
		<%= link_to "Sign in", new_user_session_path, class: ["btn", "btn-danger"] %>
	</p>
</div>